<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<cells-bfm-dm-iv-get-transactions>` description.

Example:

```html
<cells-bfm-dm-iv-get-transactions></cells-bfm-dm-iv-get-transactions>
```

@demo demo/index.html
-->
<dom-module id="cells-bfm-dm-iv-get-transactions">
  <template>

    <cells-generic-dp id="dpGetTransactions"
      host="[[endpoint]]"
      method="GET"
      params="[[params]]"
      headers="[[headers]]"
      on-request-success="_successResponse"
      on-request-error= "_handlerError"></cells-generic-dp>

  </template>
  <script src="cells-bfm-dm-iv-get-transactions.js"></script>
</dom-module>
